
<h2 class="text-center">SẢN PHẨM BÁN CHẠY</h2>
<hr>
<div class="row cart-row"> 
  
    {{#each psell}}
        <div class="col-sm-6 col-md-4 product" style="margin-top: 10px;">
          <div class="thumbnail" style="background-color: blanchedalmond; border-width: 1px; border-style: solid;">
            <a href="/products/ps/{{id_sp}}">
              <img alt="{{name}}" src="{{image}}" style="height: 290px;"></a>
              <div class="caption">
              <h4 style="text-align: center;">{{name}}</h4>
              <p class="price" style="color: red;">Giá: ${{price}}</p>
              <p class="soluong" style="color: blue;">Số lượng: {{soluong}}</p>
              
                <button class="add-to-cart" data-id="{{id_sp}}" type="submit" value="Submit" style="display: block; margin-left: auto; margin-right: auto;">Thêm vào giỏ</button>

                </br>
              <p><a href="/products/ps/{{id_sp}}" class="btn btn-primary btn-block view-product" role="button">Xem chi tiết</a>
            </div>
          </div>
        </div>
      {{/each}}
</div>
  </br>
   <h2 class="text-center">SẢN PHẨM </h2>
   <hr>
<div class="row cart-row"> 
{{#each ps}}
        <div class="col-sm-6 col-md-4 product" style="margin-top: 10px;">
          <div class="thumbnail" style="background-color: blanchedalmond; border-width: 1px; border-style: solid;">
            <a href="/products/ps/{{id_sp}}">
              <img alt="{{name}}" src="{{image}}" style="height: 290px;"></a>
              <div class="caption">
              <h4 style="text-align: center;">{{name}}</h4>
              <p class="price" style="color: red;">Giá: ${{price}}</p>
              <p class="soluong" style="color: blue;">Số lượng: {{soluong}}</p>
                <button class="add-to-cart" data-id="{{id_sp}}" type="submit" value="Submit" style="display: block; margin-left: auto; margin-right: auto;">Thêm vào giỏ</button>
                <br>
              <p><a href="/products/ps/{{id_sp}}" class="btn btn-primary btn-block view-product" role="button">Xem chi tiết</a>
            </div>
          </div>
        </div>
      {{/each}}
</div>

<nav aria-label="Page navigation example">
      <ul class="pagination">
          {{#if navs.prev}}
               <li class="page-item">
                   <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
          {{else}}
               <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
          {{/if}}
          {{#each pages}}
                 {{#if active}}
                       <li class="page-item active" aria-current="page">
                         <a class="page-link" href="javascript:;">
                           {{ value }} <span class="sr-only">(current)</span>
                         </a>
                       </li>
                  {{else}}
                        <li class="page-item">
                          <a class="page-link" href="?page={{value}}">
                            {{value}}
                          </a>
                        </li>
                 {{/if}}
          {{/each}}
          {{#if navs.next}}
               <li class="page-item">
                   <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                   </a>
               </li>
          {{else}}
               <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
          {{/if}}
      </ul>  
    </nav>

    