
<div><p style="color: red;font-size: 20px; font-weight: bold;">SẢN PHẨM BÁN CHẠY</p></div>
<div class="row cart-row"> 
  
    {{#each psell}}
        <div class="col-sm-6 col-md-4 product">
          <div class="thumbnail">
            <a href="/products/ps/{{id_sp}}">
              <img alt="{{name}}" src="{{image}}" style="height: 290px;"></a>
              <div class="caption">
              <h3>{{name}}</h3>
              <p class="price">Gia: ${{price}}</p>
              <p class="soluong">So luong: {{soluong}}</p>
              <form method="POST" action="/cart/{{id_sp}}">
              
                {{!-- <select class="form-control product-dropdown" id="quantity" name="quantity">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> --}}
                <button class="btn btn-success" type="submit" value="Submit">Thêm vào giỏ</button>
                </form>
                </br>
              <p><a href="/products/ps/{{id_sp}}" class="btn btn-primary btn-block view-product" role="button">Xem chi tiết</a>
            </div>
          </div>
        </div>
      {{/each}}
</div>
  </br>
   <div><p style="color: red;font-size: 20px; font-weight: bold;">DANH SÁCH SẢN PHẨM</p></div>
   </br>
<div class="row cart-row"> 
{{#each ps}}
        <div class="col-sm-6 col-md-4 product">
          <div class="thumbnail">
            <a href="/products/ps/{{id_sp}}">
              <img alt="{{name}}" src="{{image}}" style="height: 290px;"></a>
              <div class="caption">
              <h3>{{name}}</h3>
              <p class="price">Gia: ${{price}}</p>
              <p class="soluong">So luong: {{soluong}}</p>
              <form method="POST" action="/cart/{{id_sp}}">
              
                <button class="btn btn-success" type="submit" value="Submit" style="align-items: center;">Thêm vào giỏ</button>
                </form>
                <br>
              <p><a href="/products/ps/{{id_sp}}" class="btn btn-primary btn-block view-product" role="button">Xem chi tiết</a>
            </div>
          </div>
        </div>
      {{/each}}
</div>

<nav aria-label="Page navigation example">
      <ul class="pagination">
          {{#if navs.prev}}
               <li class="page-item">
                   <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
          {{else}}
               <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
          {{/if}}
          {{#each pages}}
                 {{#if active}}
                       <li class="page-item active" aria-current="page">
                         <a class="page-link" href="javascript:;">
                           {{ value }} <span class="sr-only">(current)</span>
                         </a>
                       </li>
                  {{else}}
                        <li class="page-item">
                          <a class="page-link" href="?page={{value}}">
                            {{value}}
                          </a>
                        </li>
                 {{/if}}
          {{/each}}
          {{#if navs.next}}
               <li class="page-item">
                   <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                   </a>
               </li>
          {{else}}
               <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
          {{/if}}
      </ul>  
    </nav> 