	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
{{#with cart}}
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner" id="cart-body">
              {{#if items.length}}
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Sản phẩm</th>
                              <th scope="col">Giá</th>
                              <th scope="col">Số lượng</th>
                              <th scope="col">Tổng</th>
                          </tr>
                      </thead>
                      <tbody>
                        {{#each items}}
                          <tr {{#each item}} id="item{{id_sp}}" {{/each}}>
                              <td>
                                  {{#each item}}
                                  <div class="media">
                                      <div class="d-flex">
                                          <img src={{image}} alt="" style="height: 80px;">
                                      </div>
                                      <div class="media-body">
                                          <p>{{name}}</p>
                                      </div>
                                  </div>
                                  {{/each}}
                              </td>
                              <td>
                                  {{#each item}}
                                  <h5>${{price}}</h5>
                                  {{/each}}
                              </td>
                              <td>
                                  
                                  <div class="product_count">
                                      <input type="text" name="qty" {{#each item}} id="sst{{id_sp}}"{{/each}} maxlength="12" value="{{quantity}}" title="Quantity:"
                                          class="input-text qty" readonly />
                                    {{#each item}}
                                      <button onclick="var result = document.getElementById('sst{{id_sp}}'); var sst = result.value; if( !isNaN( sst )) result.value++; 
                                       updateCart({{id_sp}},result.value); return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="var result = document.getElementById('sst{{id_sp}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1|| (sst == 1) &amp;&amp; confirm('Bạn muốn xóa sản phẩm này khỏi cart không?')) result.value--;  updateCart({{id_sp}},result.value); return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    {{/each}}
                                  </div>
                                  
                              </td>
                              <td>
                                  {{#each item}}
                                  <h5 id="price{{id_sp}}">${{price}}</h5>
                                  {{/each}}
                              </td>
                          </tr>
                          
                        {{/each}}
                          <tr class="bottom_button">
                              <td>
                                  <a class="button bg-danger text-white" onclick="confirmCart()">Xác nhận</a>
                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  
                              </td>
                          </tr>
                          <tr>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h4>THÀNH TIỀN</h4>
                              </td>
                              <td>
                                  <h5 id="totalPrice">${{totalPrice}}</h5>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  {{else}}
                    <div class="alert alert-info text-center">My cart is empty</div>
                  {{/if}}
              </div>
          </div>
      </div>
  </section>
  {{/with}}